.page-404 {
  height: calc(80vh);
  display: flex;
  padding: 5rem;
  justify-content: center;

  .header-404 {
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }
  .sub-header-404 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
  }
}
